*.java.hsp
*.sonarj
*.sw*
.DS_Store
.settings
.checkstyle
.springBeans
integration-repo
ivy-cache
jxl.log
jmx.log
derby.log
.gradle
argfile*
activemq-data/

classes/
/build
buildSrc/build
/spring-*/build
/src/asciidoc/build
target/

# Eclipse artifacts, including WTP generated manifests
.classpath
.project
MANIFEST.MF

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea
out
test-output
atlassian-ide-plugin.xml
.gradletasknamecache

# maven-release-plugin
release.properties
pom.xml.releaseBackup
**/.flattened-pom.xml